<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bodygate.bcns.bodygation">

    <permission android:name="FITNESS_ACTIVITY_READ_WRITE" />
    <permission android:name="FITNESS_BODY_READ_WRITE" />
    <permission android:name="FITNESS_LOCATION_READ_WRITE" />
    <permission android:name="FITNESS_NUTRITION_READ_WRITE" />
    <permission android:name="ACCESS_FINE_LOCATION" />
    <permission android:name="BODY_SENSORS" />
    <permission android:name="ACCESS_NETWORK_STATE" />
    <permission android:name="ACCESS_WIFI_STATE" />
    <permission android:name="ACCOUNT_MANAGER" />
    <permission android:name="CAMERA" />
    <permission android:name="GET_TASKS" />
    <permission android:name="READ_EXTERNAL_STORAGE" />
    <permission android:name="WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Bodygator">
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name">
            <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            <intent-filter>
                <action android:name="vnd.google.fitness.VIEW" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.weight" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.weight.summary" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.calories.expended" />
                <action android:name="android.intent.action.MAIN" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.step_count.cumulative" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.step_count.delta" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>